<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <div class="well">
  	<P><strong><%=comment.username %></strong>:<%=comment.body%>
  		<%= link_to '[X]', [comment.post,comment],
  		                             method: :delete,
  		                             data: {confirm: 'are u sure?'} %></P>
  </div>
  <% end %>