<h1> Blog Posts</h1>
<% @posts.each do |post| %>
 <div class="well">
  <h3><%= post.title %></h3>
  <p><%= post.body %></p>
  <%= link_to "Read More", post_path(post), :class => 'btn btn-default' %>
</div>
<% end %>