<h2><%= @post.title%></h2>
<p><%= @post.body%></p>
<hr>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-default' %>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: 'are u sure?'},:class => 'btn btn-danger' %>

<hr>
<%= render 'comments/comments'%>
<%= render 'comments/form'%>


